
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  border: 2px solid pink;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: pink;
  text-transform: uppercase;
  letter-spacing: .09em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  color: mediumpurple;
  text-transform: uppercase;
  letter-spacing: .09em;
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
  color: slateblue;
  text-transform: uppercase;
  letter-spacing: .09em;
  margin-bottom: 10px;
}

nav {
  border: 2px solid green;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
